@media only screen and (min-width: 400px){
    .card{
        width: 70%;
        /* max-width: 400px; */
        background: linear-gradient(190deg, #87ceeb, #4169e1);
        border-radius: 20px;
        margin: 100px auto 0;
        padding: 40px 10px;
        color: #ebfffc;
        text-align: center;
    }
    .img{
        width: 60%;
        height: 200px;
        border-radius: 50%;
        border: 1px solid transparent;
        background: url('../images/headshot.jpeg') center/cover;
        background-repeat: no-repeat;
        margin: auto; 
        margin-top: -8rem; 
    }
    .writeupDiv{
        /* width: 90%; */
        padding: 0px 10px;
        margin: auto;
    }
    .writeupDiv p{
        margin-bottom: 30px;
    }
    .name{
        font-family: 'aber_monobold';
        font-size: 20px;
        color: white;
    }
    .career{
        font-family: 'aber_monobold';
        font-size: 15px;
    }
    .description{
        font-family: 'aber_monoregular';
        padding: 5px;
    }
    button{
        padding: 15px 35px ;
        border-radius: 40px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        font-family: 'montserratsemibold';
        cursor: pointer;
    }
    button:hover{
        border: 0;
        
    }
}


@media only screen and (min-width: 550px){
    .card{
        width: 75%;
        border-radius: 20px;
        padding: 20px 10px;
    }
    .img{
        padding: 20px 60px;
        border-radius: 20px;
        border: 1px solid transparent;
        margin-top: -6rem; 
    }
    .writeupDiv{
        /* width: 80%; */
        padding: 0px 60px;
    }
    .writeupDiv p{
        margin-bottom: 35px;
    }
    .name{
        font-size: 25px;
    }
    .career{
        font-size: 20px;
    }
    .description{
        padding: 0;
    }
    button{
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 750px){
    .card{
        width: 60%;
        /* max-width: 600px; */
        background: linear-gradient(190deg, #87ceeb, #4169e1);
        border-radius: 20px;
        margin: 100px auto 0;
        padding: 40px 40px;
        color: #ebfffc;
        text-align: left;
    
        display: flex;
        align-items: center;
    }
    .img{
        padding: 40px 60px;
        /* width: 20%; */
        /* height: 250px; */
        border-radius: 20px;
        border: 1px solid transparent;
        background: url('../images/headshot.jpeg') center/cover;
        background-repeat: no-repeat;
    
        margin-left: -90px;
        margin-top: 0;
    }
    .writeupDiv{
        margin-left: 20px;
        padding: 0;
    }
    .writeupDiv p{
        margin-bottom: 3rem;
    }
    .name{
       
        font-size: 25px;
    }
    .career{
        font-size: 20px;
    }
    button{
        padding: 15px 35px ;
        border-radius: 50px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        font-family: 'montserratsemibold';
    }
}
